/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:500");

@font-face {
    font-family: HKGroteskMedium;
  src: url("../fonts/HKGrotesk-Medium.eot");
  src: url("../fonts/HKGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HKGrotesk-Medium.woff") format("woff");
}

@font-face {
    font-family: HKGroteskBold;
  src: url("../fonts/HKGrotesk-Bold.eot");
  src: url("../fonts/HKGrotesk-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HKGrotesk-Bold.woff") format("woff");
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

body {
    font-family: "Inter", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.4;
    font-size: 18px;
    background: #fff;
    color: #000;
    margin: 0 auto;
    max-width: 1600px;
    padding: 24px;
}

h1, h2, h3, h4 {
    font-family: "Lora", serif;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
}

h1, h2.section-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

h2.section-title {
    margin: 0 0 16px 0;
}

h2 {
    margin: 32px 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    padding: 20px 64px 80px;
    position: relative;
}

header a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
    transition: 200ms color ease-in-out;
}

header a:hover {
    color: #414343;
}

header .blub {
    margin: 21vh auto 13vh;
}

header .blub.project {
    margin: 80px auto 0;
}

header .blub.project h2 {
    margin: 0;
}

header .blub.project h4 {
    margin: 8px 0 32px;
}

header .contact-button {
    transition: margin-top .1s ease-in-out;
    background: #000;
    color: white;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 32px;
    position: absolute;
    top: 23px;
    right: 64px;
}

header .contact-button:hover {
    margin-top: 3px;
    cursor: pointer;
}

h4 {
    font-size: 22px;
    margin: 0 0 4px 0;
}

span {
    color: #737777;
}

.projects {
    margin: 16px 0 0 0;
}

.projects h3 {
    font-size: 32px;
}

h4 {
    font-family: "Inter", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 8px 0 0 0;
}

.projects ul li {
    padding: 24px 0;
    transition: margin-left .2s ease-in-out;
    width: fit-content;
}

.project-list {
    transition: background-color .2s ease-in-out;
    padding: 80px 64px;
    background-color: #f5f5f5;
}

/* .project-list:hover .project-item {
    opacity: 0.35;
} */

.project-list:hover .project-item:hover {
    margin-left: 16px;
}

.project-item {
    pointer-events: auto;
}

.project-list:has(.project-item:nth-of-type(1):hover) {
    background-color: #e5daff;
}

.project-list:has(.project-item:nth-of-type(2):hover) {
    background-color: #bbffe9;
}

.project-list:has(.project-item:nth-of-type(3):hover) {
    /* background-color: #ade3ec; */
    background-color: #bbffe9;
}

.project-list:has(.project-item:nth-of-type(4):hover) {
    /* background-color: #ffdcf3; */
    background-color: #ade3ec;
}

.archive-link {
    margin: 24px 0 0;
    font-weight: 500;
}

img {
    width: 100%;
    margin: 24px 0 0 0;
}

.video-container {
    padding: 48px 64px;
    background-color: #fafafa;
}

video {
    width: 100%;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img.pad-top {
    margin-top: 48px;
}

.row {
    display: flex;
}

.row .block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row .block:nth-child(1) {
    padding: 0 32px 16px 0;
}

.row .block:nth-child(2) {
    padding: 0 0 0 32px;
}

.row .block:nth-child(2).top-fill {
    padding: 28px 0 0 32px;
}

.row .block.fiftyfifty {
    max-width: 50%;
    flex-grow: 1;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1.5px solid #000;
}

a:hover {
    border-bottom: none;
}

@keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 30px 0px;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 300px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logo_items {
    display: inline-block;
    animation: 100s slides infinite linear;
  }
  
  /* .logos:hover .logo_items {
    animation-play-state: paused;
  } */
  
  .logo_items img{
    width: auto;
    height: 80px;
    margin: 0 32px;
    filter: grayscale(100%);
  }

footer {
    margin: 48px 16px 32px;
    position: relative;
}

footer ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

footer ul li {
    list-style: none;
    margin: 0 16px 0 0;
    display: inline;
}

.error {
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    transition: 200ms opacity ease-in-out;
}

.error:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1240px) {
    body {
        padding: 72px 64px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding: 64px 48px;
    }
}

@media screen and (max-width: 720px) {
    body {
        padding: 40px 24px;
    }

    header {
        margin: 0 0 24px 0;
    }

    header h3 {
        float: none;
        text-align: left;
        margin: 24px 0 48px 0;
    }

    header h3 br {
        display: none;
    }

    header h3.back {
        display: none;
    }

    .row {
        display: block;
    }

    .row .block:nth-child(1) {
        padding: 0 0 8px 0;
    }

    .row .block:nth-child(2) {
        padding: 0;
    }

    .row .block:nth-child(2).top-fill {
        padding: 0;
    }

    .row .block.fiftyfifty {
        max-width: 100%;
        flex-grow: none;
    }

    footer {
        margin: 24px 0 32px 0;
    }

    footer ul li {
        margin: 0 0 8px 0;
        display: block;
        text-align: right;
    }

    footer ul li.email {
        float: none;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 32px 16px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 24px;
    }

    header {
        padding: 0 0 24px;
        position: relative;
    }

    header .blub {
        margin: 96px auto 0;
    }

    header .contact-button {
        padding: 13px 18px;
        top: 0;
        right: 0;
        font-size: 16px;
    }

    header .blub.project {
        margin: 56px auto 0;
    }

    .logos:before, .logos:after {
        position: absolute;
        top: 0;
        content: '';
        width: 100px;
        height: 100%;
        z-index: 2;
      }

    .project-list {
        transition: background-color .2s ease-in-out;
        padding: 64px 40px;
    }

    .projects h3 {
        font-size: 24px;
    }

    .projects h4 {
        font-size: 18px;
    }

    .project-list:hover .project-item:hover {
        margin-left: 0;
    }

    img {
        margin: 0 0 16px 0;
    }

    .video-container {
        padding: 16px 32px;
    }

    video {
        width: 100%;
        border-radius: 4px;

    .row .block:nth-child(1) {
        padding: 0;
    }

    footer ul li {
        text-align: right;
    }
}

@media screen and (max-width: 380px) {
    header .blub {
        margin: 72px auto -16px;
    }
}
