@font-face {
    font-family: HKGrotesk;
    src: url("../fonts/HKGrotesk-Regular.eot");
    src: url("../fonts/HKGrotesk-Regular.woff") format("woff"), url("../fonts/HKGrotesk-Regular.ttf") format("truetype"), url("../fonts/HKGrotesk-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HKGrotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}

body #container {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px;
}

body h2, body h3, body h4, body p {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

body h1 {
    font-size: 26px;
    font-weight: 400;
    margin: 56px 0 36px;
}

body p {
    line-height: 30px;
    margin: 6px 0 20px 0;
}

body a:link, body a:visited {
    color: #325BFF;
    text-decoration: none;
}

body a:hover {
    color: #325BFF;
    border-bottom: 1px solid #325BFF;
}

body.pank a:link, body.pank a:visited {
    color: #E25E75;
}

body.pank a:hover {
    color: #E25E75;
    border-bottom: 1px solid #E25E75;
}

body.pank .more-btn {
    color: #E25E75;
}

body.pank .more-btn:hover {
    color: #E25E75;
    border-bottom: 1px solid #E25E75;
}

body.green a:link, body.green a:visited {
    color: #199863;
}

body.green a:hover {
    color: #199863;
    border-bottom: 1px solid #199863;
}

body.green .more-btn {
    color: #199863;
}

body.green .more-btn:hover {
    color: #199863;
    border-bottom: 1px solid #199863;
}

body .back {
    position: absolute;
    top: 20px;
}

body .contact {
    margin: 32px 0 60px;
}

body .more-btn {
    color: #325BFF;
    text-decoration: none;
}

body .more-btn:hover {
    color: #325BFF;
    border-bottom: 1px solid #325BFF;
    cursor: pointer;
}

body .info {
    margin: 0 0 55px 0;
}

body .info ul {
    padding: 0;
    margin: 0 0 35px 0;
}

body .info ul li {
    list-style: none;
    margin: 6px 0;
}

body .info ul li span {
    display: inline-block;
    width: 100px;
}

body .work a:hover {
    border: none;
}

body .work.grid-2, body .work.grid-3 {
    overflow: auto;
    padding: 0 0 16px 0;
}

body .work.grid-2 img, body .work.grid-3 img {
    margin: 0;
    float: left;
}

body .work.grid-2 img {
    width: 50%;
}

body .work.grid-3 img {
    width: 33.33%;
    width: calc(100% / 3);
}

body .work img {
    -webkit-transition: 0.4s opacity ease-in-out;
    -moz-transition: 0.4s opacity ease-in-out;
    -o-transition: 0.4s opacity ease-in-out;
    transition: 0.4s opacity ease-in-out;
    width: 100%;
    min-height: 100px;
    margin: 10px 0;
    opacity: 0;
}

body .work img.visible {
    opacity: 1;
}

body footer {
    margin: 40px 0 60px;
}

@media screen and (max-width: 560px) {
    body #container {
        padding: 0 26px;
    }

    body .work.grid-2 img, body .work.grid-3 img {
        width: 100%;
    }
}
