@import url('https://fonts.googleapis.com/css?family=Work+Sans:500');

@font-face {
    font-family: HKGroteskMedium;
    src: url("../fonts/HKGrotesk-Medium.eot");
    src: url("../fonts/HKGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HKGrotesk-Medium.woff") format("woff"), url("../fonts/HKGrotesk-Medium.ttf") format("truetype"), url("../fonts/HKGrotesk-Medium.svg#svgFontName") format("svg");
}

::selection {
    background: #1919FF;
    color: #fff;
}

::-moz-selection {
    background: #1919FF;
    color: #fff;
}

body {
    font-family: HKGroteskMedium, 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 32px;
    line-height: 1.2;
    font-size: 24px;
    background: #fff;
    color: #111;
}

body h1, h2, h3 {
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 26px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    width: 236px;
    left: 50%;
    margin-left: -118px;
}

h2 {
    font-size: 18px;
    color: #eee;
    position: absolute;
    bottom: 24px;
    margin-top: -18px;
    width: 100%;
    left: 0;
    padding: 0 16px;
    box-sizing: border-box;
}


h2 a {
    text-decoration: none;
    color: #eee;
    cursor: alias;
}

h2 a:hover {
    color: #ccc;
    transition: color 100ms ease-in-out
}

.strike {
    position: relative;
    display: inline-block;

}

.strike:after {
    content: ' ';
    position: absolute;
    top: 15px;
    left: 0;
    width: 0%;
    height: 3px;
    background: black;
    transform-origin: left;
    animation: strike-animation 6s ease-in-out infinite;
}

h3 {
    font-size: 42px;
    margin: 20px 0 0 8px;
}

h3 span {
    display: inline-block;
    transform-origin: right 80%;
    animation: wave 600ms ease-in-out infinite;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* body a {
    color: #111;
    text-decoration: none;
    display: inline;
    position: relative;
}

body a:after {
    content: '';
    display: none;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 3px;
    background: rgba(0, 0, 0, 0.15);
}

body a:hover {
    cursor: pointer;
}

body a:hover:after, body a.selected:after {
    display: block;
} */

@keyframes wave {
    0% {
        transform:rotate(-15deg);
        -webkit-transform: rotate(-15deg);
    }
    50% {
        transform:rotate(15deg);
        -webkit-transform: rotate(15deg);
    }
    100% {
        transform:rotate(-15deg);
        -webkit-transform: rotate(-15deg);
    }
}

@keyframes strike-animation {
    0% {
        width: 0%;
    }
    30% {
        width: 100%;
    }
    70% {
        width: 100%;
    }
    80% {
        width: 0%;
    }
}
