@font-face {
    font-family: HKGrotesk;
    src: url('../fonts/HKGrotesk-Regular.eot');
    src: url('../fonts/HKGrotesk-Regular.woff') format('woff'), url('../fonts/HKGrotesk-Regular.ttf') format('truetype'), url('../fonts/HKGrotesk-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HKGrotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    #container {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 40px;
    }
    h2, h3, h4, p {
        font-weight: 400;
        font-size: 20px;
        margin: 0;
    }
    h1 {
        font-size: 26px;
        font-weight: 400;
        margin: 56px 0 36px;
    }
    p {
        line-height: 30px;
        margin: 6px 0 20px 0;
    }
    a {
        &:link, &:visited {
            color: #325BFF;
            text-decoration: none;
        }
        &:hover {
            color: #325BFF;
            border-bottom: 1px solid #325BFF;
        }
    }
    &.pank {
        a {
            &:link, &:visited {
                color: #E25E75;
            }
            &:hover {
                color:#E25E75;
                border-bottom: 1px solid #E25E75;
            }
        }
        .more-btn {
            color: #E25E75;
            &:hover {
                color: #E25E75;
                border-bottom: 1px solid #E25E75;
            }
        }
    }
    &.green {
        a {
            &:link, &:visited {
                color: #199863;
            }
            &:hover {
                color: #199863;
                border-bottom: 1px solid #199863;
            }
        }
        .more-btn {
            color: #199863;
            &:hover {
                color: #199863;
                border-bottom: 1px solid #199863;
            }
        }
    }
    .back {
        position: absolute;
        top: 20px;
    }
    .contact {
        margin: 32px 0 60px;
    }
    .more-btn {
        color: #325BFF;
        text-decoration: none;
        &:hover {
            color: #325BFF;
            border-bottom: 1px solid #325BFF;
            cursor: pointer;
        }
    }
    .info {
        margin: 0 0 55px 0;
        ul {
            padding: 0;
            margin: 0 0 35px 0;
            li {
                list-style: none;
                margin: 6px 0;
                span {
                    display: inline-block;
                    width: 100px;
                }
            }
        }
    }
    .work {
        a {
            &:hover {
                border: none;
            }
        }
        &.grid-2, &.grid-3 {
            overflow: auto;
            padding: 0 0 16px 0;
            img {
                margin: 0;
                float: left;
            }
        }
        &.grid-2 {
            img {
                width: 50%;
            }
        }
        &.grid-3 {
            img {
                width: 33.33%;
                width: calc(100% / 3)
            }
        }
        img {
            -webkit-transition: 0.4s opacity ease-in-out;
            -moz-transition: 0.4s opacity ease-in-out;
            -o-transition: 0.4s opacity ease-in-out;
            transition: 0.4s opacity ease-in-out;
            width: 100%;
            min-height: 100px;
            margin: 10px 0;
            opacity: 0;
            &.visible {
                opacity: 1;
            }
        }
    }
    footer {
        margin: 40px 0 60px;
    }
}

@media screen and (max-width: 560px) {
    body {
        #container {
            padding: 0 26px;
        }
        .work {
            &.grid-2, &.grid-3 {
                img {
                    width: 100%;
                }
            }
        }
    }
}
