body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

::selection {
	background: #000;
	color: #fff;
}

::-moz-selection {
	background: #000;
	color: #fff;
}

#body {
    width: 700px;
    max-width: 700px;
    margin: 60px auto;
    overflow: auto;
    font-size: 18px;
    line-height: 1.50;
    header {
        h1 {
            letter-spacing: -2px;
            margin: 0 0 16px;
            text-align: right;
            span {
                letter-spacing: -3px;
            }
        }
        .back-btn {
            position: relative;
            top: -65px;
            left: 0;
            height: 40px;
            width: 80px;
            img {
                width: 80px;
            }
        }
    }
    h1, section, img {
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    h2 {
        letter-spacing: -2px;
        margin: 0 0 16px;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
        margin: 0 0 -14px;
    }

    strong {
        font-weight: 500;
    }
    img {
        &.big-img {
            width: 100%;
        }
    }
    section {
        margin: 40px 0 30px;
        height: auto;
        overflow: auto;
        a {
            transition: border-bottom .06s ease-in-out;
            -webkit-transition: border-bottom .06s ease-in-out;
            -moz-transition: border-bottom .06s ease-in-out;
            &:link, &:visited {
                color: inherit;
                text-decoration: none;
                font-weight: 500;
            }
            &:hover {
                border-bottom: 2px solid #000;
            }
        }
        &.about {
            margin: 0;
            p:last-child {
                margin: 18px 0 0;
            }
        }
        &.gallery {
            overflow: hidden;
        }
        &.foundations {
            article {
                margin: 20px 0 24px;
                &:last-child {
                    margin: 20px 0 0;
                }
                h3 {
                    line-height: 1.35;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
        .contact-links {
            a {
                margin: 0 20px 0 0;
                line-height: 32px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .panel {
            display: inline-block;
            float: left;
            &.half {
                width: 50%;
            }
            &.full {
                width: 100%;
            }
            h3 {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                color: #fff;
            }
            img {
                width: 100%;
                padding: 0;
                margin: 0 0 -7px 0;
            }
        }
        &.project {
            margin: -40px 0 30px;
        }
    }
}

@media screen and (max-width: 700px) {
    #body {
        width: 100%;
        max-width: 100%;
        margin: 16px auto 40px;
        img {
            &.big-img {
                padding: 0;
            }
        }
        section {
            /* Remove comments to mke all panels full width on screens < 700px
            .panel
                &.half, &.full {
                    width: 100%;
                }
            }
            */
            &.gallery {
                padding: 0;
                h2 {
                    margin: 0 0 16px 20px;
                }
            }
        }
    }
}
