::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.6;
    font-size: 18px;
    background: #fff;
    color: #000;
    padding: 0 80px 0;
    margin: 120px auto 56px;
    max-width: 800px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    color: #888;
    margin: 0;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    padding: 0 0 3px 0;
    border-bottom: 1.5px solid rgba($color: #000000, $alpha: 0.2);
    transition: 200ms border-bottom ease-in-out;
    &:hover {
        border-bottom: 1.5px solid rgba($color: #000000, $alpha: 1)
    }
}

main {
    margin: 32px 0 64px;
}

#apps {
    margin: 56px 0 56px;
    ul{
        padding: 0;
        li.app {
            min-width: 100%;
            border-radius: 12px;
            list-style: none;
            padding: 32px;
            margin: 0 0 24px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
            -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
            box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
            &:last-child {
                margin: 0;
            }
        }
    }

    .info {
        display: flex;
        line-height: 1;
    }

    .icon img{
        width: 72px;
        border-radius: 25%;
    }

    .details {
        margin: 0 0 0 16px;
        p {
            font-size: 16px;
            color: #888;
            margin: 8px 0 6px;
        }
    }

    .rating {
        color: #ccc;
        font-size: 20px;
    }

    .download {
        flex-grow: 10;
        text-align: right;
        a {
            border-bottom: none;
        }
        img {
            margin: 12px 0 0 0;
        }
        &.mobile {
            display: none;
            text-align: center;
            img {
                margin: 24px 0 20px;
            }
        }
    }
}

ul .previews {
    margin: 24px 0 0 0;
    max-width: 100%;
    overflow-x: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    li {
        display: inline-block;
        margin: 0 6px;
        &:first-child {
            margin: 0 8px 0 0;
        }
        &:last-child {
            margin: 0 0 0 8px;
        }
        img {
            width: 200px;
            border-radius: 8px;
        }
    }
}

#portfolio {
    p {
    }
}

footer {
    p {
        color: #ccc;
        font-size: 16px;
    }
}

.error {
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    transition: 200ms opacity ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

@media screen and (max-width: 1240px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 640px) {
    body {
        margin: 56px 0 40px;
        padding: 0 18px 0;
    }

    main {
        margin: 32px 0 48px;
    }

    #apps {
        margin: 56px 0 40px;
        ul{
            padding: 0;
            li.app {
                min-width: 100%;
                border-radius: 12px;
                list-style: none;
                padding: 24px 16px;
                margin: 0 0 32px 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #apps {
        .download {
            &.desktop {
                display: none;
            }
            &.mobile {
                display: block;
            }
        }
    }
}