@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,600,700);

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Helvetica Neue, Arial, Sans-Serif;
	font-weight: 300;
	color: #000;
	background: #fff;
}

body {
	overflow: hidden;
}

::selection {
	background: #0066CC;
	color: #fff;
}

::-moz-selection {
	background: #0066CC;
	color: #fff;
}

textarea {
	resize: none;
	border: none;
	font-size: 1.3em;
	line-height: 1.6em;
	padding: 40px;
	height: 88vh;
	width: 93vw;
}

textarea:focus {
	outline: none;
}

::-webkit-input-placeholder {
   color: #E2E2E2;
}

:-moz-placeholder { /* Firefox 18- */
   color: #E2E2E2;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #E2E2E2;  
}